<mat-card class="mb-3">
    <div class="d-inline-flex justify-content-center w-100">
        <div class="poke-border-sm bg-gray p-3 mb-3" *ngIf="item">
            <h3 class="mb-0 font-p2">{{ item.name }}</h3>
        </div>
    </div>
    <div class="poke-sprite-circle d-inline-flex justify-content-center w-100 mb-3">
        <img *ngIf="sprite" [src]="sprite" width="100%" height="auto" />
    </div>

    <button mat-flat-button color="accent" class="w-100 mb-2" disabled>Change Name</button>
    <button mat-flat-button color="accent" class="w-100 mb-2" disabled>Item Sprite</button>
    <button mat-flat-button color="accent" class="w-100" disabled>Editor Settings</button>
</mat-card>
