<div class="d-inline-flex poke-tool-card-inner w-100" *ngIf="itemService.isLoaded">

    <div class="bg-gray overflow-auto tablet-or-bigger">
        <div class="poke-tool-sidenav bg-gray">
            <div class="poke-tool-sidenav-item noselect" *ngFor="let item of itemService.items; let i = index">
                <div 
                    *ngIf="item && item.name" 
                    (click)="setCurrent(item)"
                    class="poke-tool-sidenav-item-inner py-1 border-bottom" 
                    [ngClass]="currentItem == item ? 'poke-tool-sidenav-item-active' : ''"
                    matRipple>
                    <span class="poke-border-sm bg-white mx-2 py-0 px-2">{{ getPaddedId(i) }}</span><span>{{ item.name }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 pt-3 px-3 overflow-auto poke-tool-card-inner" *ngIf="currentItem">
        <div class="w-100 phone-only">
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Selected Item</mat-label>
                        <mat-select [(ngModel)]="currentItem" (ngModelChange)="setCurrent(currentItem)">
                            <mat-option [value]="item" *ngFor="let item of itemService.items; let i = index">{{ item.name }}</mat-option>
                        </mat-select>
                    </mat-form-field> 
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="??????????" maxlength="13" [(ngModel)]="currentItem.name" (ngModelChange)="baseItemDataChanged()">
                    <mat-hint>Up to 13 characters allowed</mat-hint>
                </mat-form-field> 
            </div>
            <div class="col-6">
                <div class="float-right">
                    <img *ngIf="sprite" [src]="sprite" width="64px" height="64px" class="mr-3" />
                    <p class="text-gray text-center mr-3 mb-0" [style.fontSize]="'12px'">4x zoom</p>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Internal ID</mat-label>
                    <input matInput placeholder="0" [(ngModel)]="currentItem.uid" (ngModelChange)="baseItemDataChanged()">
                </mat-form-field> 
            </div>
            <div class="col-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Pocket</mat-label>
                    <mat-select [(ngModel)]="currentItem.pocket" *ngIf="gameCode.startsWith('BPRE')" (ngModelChange)="baseItemDataChanged()">
                        <mat-option [value]="0">None</mat-option>
                        <mat-option [value]="1">Items</mat-option>
                        <mat-option [value]="2">Key Items</mat-option>
                        <mat-option [value]="3">Poké Balls</mat-option>
                        <mat-option [value]="4">TM Case</mat-option>
                        <mat-option [value]="5">Berry Pouch</mat-option>
                    </mat-select>
                    <mat-select [(ngModel)]="currentItem.pocket" *ngIf="gameCode === 'BPEE'" (ngModelChange)="baseItemDataChanged()">
                        <mat-option [value]="0">None</mat-option>
                        <mat-option [value]="1">Items</mat-option>
                        <mat-option [value]="2">Poké Balls</mat-option>
                        <mat-option [value]="3">TMs and HMs</mat-option>
                        <mat-option [value]="4">Berries</mat-option>
                        <mat-option [value]="5">Key Items</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Hold Effect</mat-label>
                    <mat-select [(ngModel)]="currentItem.holdEffect" (ngModelChange)="baseItemDataChanged()">
                        <mat-option [value]="0">None</mat-option>
                        <mat-option [value]="1">Heal HP [used] [param required]</mat-option>
                        <mat-option [value]="2">Cure Paralysis [used]</mat-option>
                        <mat-option [value]="3">Cure Sleep [used]</mat-option>
                        <mat-option [value]="4">Cure Poison [used]</mat-option>
                        <mat-option [value]="5">Cure Burn [used]</mat-option>
                        <mat-option [value]="6">Cure Freeze [used]</mat-option>
                        <mat-option [value]="7">Heal PP [used] [param required]</mat-option>
                        <mat-option [value]="8">Cure Confusion [used]</mat-option>
                        <mat-option [value]="9">Cure All Status Effects [used]</mat-option>
                        <mat-option [value]="10">Heal HP [used] [may confuse] [param required]</mat-option>
                        <mat-option [value]="11">Heal HP [used] [may confuse] [param required]</mat-option>
                        <mat-option [value]="12">Heal HP [used] [may confuse] [param required]</mat-option>
                        <mat-option [value]="13">Heal HP [used] [may confuse] [param required]</mat-option>
                        <mat-option [value]="14">Heal HP [used] [may confuse] [param required]</mat-option>
                        <mat-option [value]="15">Raises ATTACK in a pinch [used] [param required]</mat-option>
                        <mat-option [value]="16">Raises DEFENSE in a pinch [used] [param required]</mat-option>
                        <mat-option [value]="17">Raises SPEED in a pinch [used] [param required]</mat-option>
                        <mat-option [value]="18">Raises SP. ATK in a pinch [used] [param required]</mat-option>
                        <mat-option [value]="19">Raises SP. DEF in a pinch [used] [param required]</mat-option>
                        <mat-option [value]="20">Raises Critical-hit Ratio in a pinch [used] [param required]</mat-option>
                        <mat-option [value]="21">Raises one stat in a pinch [used] [param required]</mat-option>
                        <mat-option [value]="22">Lowers Opponents Accuracy [param required]</mat-option>
                        <mat-option [value]="23">Restores any lowered stat [used]</mat-option>
                        <mat-option [value]="24">Promotes strong growth but lowers SPEED while it is held</mat-option>
                        <mat-option [value]="25">The holder gets a share of EXP. points without having to battle</mat-option>
                        <mat-option [value]="26">The holder may be able to strike first [param required]</mat-option>
                        <mat-option [value]="27">Promotes friendly growth</mat-option>
                        <mat-option [value]="28">Cures Infatuation [used]</mat-option>
                        <mat-option [value]="29">Powers up one move, which becomes the only usable one</mat-option>
                        <mat-option [value]="30">It may cause the foe to flinch upon taking damage [param required]</mat-option>
                        <mat-option [value]="31">Boosts the power of BUG-type moves [param required]</mat-option>
                        <mat-option [value]="32">Doubles the battle money if the holding POKéMON takes part [param required]</mat-option>
                        <mat-option [value]="33">Repels wild POKéMON if the holder is first in the party</mat-option>
                        <mat-option [value]="34">Raises the SP. ATK and SP. DEF stats [LATIOS\LATIAS only]</mat-option>
                        <mat-option [value]="35">Raises the SP. ATK stat</mat-option>
                        <mat-option [value]="36">Raises the SP. DEF stat</mat-option>
                        <mat-option [value]="37">Holding POKéMON can flee from any wild POKéMON</mat-option>
                        <mat-option [value]="38">The holding POKéMON is prevented from evolving</mat-option>
                        <mat-option [value]="39">Holding POKéMON may endure an attack, leaving just 1 HP [param required]</mat-option>
                        <mat-option [value]="40">Extra EXP. points in battle</mat-option>
                        <mat-option [value]="41">Boosts the critical-hit ratio of the holding POKéMON</mat-option>
                        <mat-option [value]="42">Boosts the power of STEEL-type moves [param required]</mat-option>
                        <mat-option [value]="43">Heals HP after every turn in battle [param required]</mat-option>
                        <mat-option [value]="44">DRAGON SCALE effect [param required]</mat-option>
                        <mat-option [value]="45">Doubles SP. ATK, may paralize opponents [PIKACHU only]</mat-option>
                        <mat-option [value]="46">Boosts the power of GROUND-type moves [param required]</mat-option>
                        <mat-option [value]="47">Boosts the power of ROCK-type moves [param required]</mat-option>
                        <mat-option [value]="48">Boosts the power of GRASS-type moves [param required]</mat-option>
                        <mat-option [value]="49">Boosts the power of DARK-type moves [param required]</mat-option>
                        <mat-option [value]="50">Boosts the power of FIGHTING-type moves [param required]</mat-option>
                        <mat-option [value]="51">Boosts the power of ELECTRIC-type moves [param required]</mat-option>
                        <mat-option [value]="52">Boosts the power of WATER-type moves [param required]</mat-option>
                        <mat-option [value]="53">Boosts the power of FLYING-type moves [param required]</mat-option>
                        <mat-option [value]="54">Boosts the power of POISON-type moves [param required]</mat-option>
                        <mat-option [value]="55">Boosts the power of ICE-type moves [param required]</mat-option>
                        <mat-option [value]="56">Boosts the power of GHOST-type moves [param required]</mat-option>
                        <mat-option [value]="57">Boosts the power of PSYCHIC-type moves [param required]</mat-option>
                        <mat-option [value]="58">Boosts the power of FIRE-type moves [param required]</mat-option>
                        <mat-option [value]="59">Boosts the power of DRAGON-type moves [param required]</mat-option>
                        <mat-option [value]="60">Boosts the power of GHOST-type moves [param required]</mat-option>
                        <mat-option [value]="61">UP-GRADE effect</mat-option>
                        <mat-option [value]="62">Heals HP after hitting an opponent in battle [param required]</mat-option>
                        <mat-option [value]="63">Raises Critical-Hit Ratio [CHANSEY only]</mat-option>
                        <mat-option [value]="64">Raises DEFENSE [DITTO only]</mat-option>
                        <mat-option [value]="65">It raises the ATTACK stat [CUBONE/MAROWAK only]</mat-option>
                        <mat-option [value]="66">Raises Critical-Hit Ratio [FARFETCH'D only]</mat-option>
                    </mat-select>
                </mat-form-field> 
            </div>
            <div class="col-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Effect Parameter</mat-label>
                    <input matInput placeholder="000" [(ngModel)]="currentItem.parameter" (ngModelChange)="baseItemDataChanged()">
                </mat-form-field> 
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Price</mat-label>
                    <input matInput placeholder="000" [(ngModel)]="currentItem.price" (ngModelChange)="baseItemDataChanged()">
                </mat-form-field> 
            </div>
            <div class="col-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="0" maxlength="255" rows="4" [(ngModel)]="currentItemDescription" (ngModelChange)="descriptionChanged()"></textarea>
                    <mat-hint>12-17 characters per line recommended</mat-hint>
                </mat-form-field> 
            </div>
        </div>
    </div>
</div>
