<div class="w-100 bg-white px-3 py-1 poke-shadow-sm d-inline-flex align-items-center sticky-top">
    <div class="d-inline-flex w-100">
        <div class="d-inline-flex align-items-center pokewebkit-title mr-3 cursor-pointer" #trigger="matMenuTrigger" [matMenuTriggerFor]="toolsMenu" matRipple>
            <div class="h-100 d-flex align-items-center justify-content-center poke-tool-menu">
                <button 
                    mat-fab 
                    color="primary" 
                    aria-label="Menu button allowing access to other apps" 
                    class="mr-3"
                    [class.poke-tool-menu-open]="trigger.menuOpen">
                    <mat-icon>apps</mat-icon>
                </button>
                <mat-menu #toolsMenu="matMenu" [overlapTrigger]="false">
                    <div class="w-100" *ngFor="let tool of tools" [class.tool-menu-item-active]="currentRoute === tool.url">
                        <div class="tool-menu-item d-inline-flex px-3 py-2" (click)="goToTool(tool)">
                            <div class="mr-3 d-flex align-items-center justify-content-center tool-menu-item-image" [style.minWidth]="'80px'" [style.minHeight]="'80px'">
                                <img [src]="tool.image" alt="Tool logo" height="64px" width="auto" />
                            </div>
                            <div class="w-100">
                                <h4 class="mb-0 font-p2 bg-gray poke-border-sm text-center px-3 py-2"><b>{{ tool.name }}</b></h4>
                            </div>
                        </div>
                    </div>
                </mat-menu>
                <div>
                    <h2 class="mb-0 font-p2 poke-title tablet-or-bigger">PokéWebKit</h2>
                    <h4 class="mb-0 font-p2 poke-title phone-only">PokéWebKit</h4>
                    <div *ngFor="let tool of tools"> 
                        <p class="mb-0 poke-tagline font-p2" *ngIf="currentRoute === tool.url">{{ tool.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="float-right d-inline-flex align-items-center">
        <button 
            mat-fab 
            color="accent"
            (click)="saveChanges()"
            aria-label="Menu button allowing save" 
            [disabled]="gbaService.pendingChanges.size == 0">
            <mat-icon>save</mat-icon>
        </button>
    </div>
</div>

<div class="w-100 d-flex flex-column">
    <div class="w-100 p-0 poke-tool-card noselect">
      <router-outlet></router-outlet>
    </div>
    <div class="w-100 d-inline-flex justify-content-between align-items-center" [style.height]="'36px'">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="d-inline-flex">
                        <a href="https://www.pokecommunity.com/showthread.php?t=456210" target="_blank" class="mr-3">PokéCommunity</a>
                        <a href="https://github.com/jugales/pokewebkit" target="_blank">Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
