<div class="d-inline-flex poke-tool-card-inner w-100" *ngIf="trainerService.isLoaded">

    <div class="bg-gray overflow-auto tablet-or-bigger">
        <div class="poke-tool-sidenav bg-gray">
            <div class="poke-tool-sidenav-item noselect" *ngFor="let trainer of trainerService.trainers; let i = index">
                <div 
                    *ngIf="trainer" 
                    (click)="setCurrent(trainer)"
                    class="poke-tool-sidenav-item-inner py-1 border-bottom" 
                    [ngClass]="currentTrainer == trainer ? 'poke-tool-sidenav-item-active' : ''"
                    matRipple>
                    <span class="poke-border-sm bg-white mx-2 py-0 px-2">{{ getPaddedId(i + 1) }}</span><span *ngIf="trainer.name">{{ trainer.name }}</span><span *ngIf="!trainer.name"><em>Nameless Trainer</em></span>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 pt-3 px-3 overflow-auto poke-tool-card-inner" *ngIf="currentTrainer">
        <div class="w-100 phone-only">
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Selected Trainer</mat-label>
                        <mat-select [(ngModel)]="currentTrainer" (ngModelChange)="setCurrent(currentTrainer)">
                            <mat-option [value]="trainer" *ngFor="let trainer of trainerService.trainers; let i = index">{{ (i + 1) + ' - ' + (trainer.name ? trainer.name : 'Nameless Trainer') }}</mat-option>
                        </mat-select>
                    </mat-form-field> 
                </div>
            </div>
        </div>
        <div class="poke-border-sm bg-gray p-2 mb-4">
            <p class="mb-0"><b>Trainer #{{ this.currentTrainer.uid + 1 }}</b></p>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="??????????" [(ngModel)]="currentTrainer.name" (ngModelChange)="trainerChanged()" maxlength="11">
                    <mat-hint>11 characters maximum</mat-hint>
                </mat-form-field> 
            </div>
            <div class="col-6">
                <div class="d-inline-flex align-items-center justify-content-between w-100">
                    <mat-form-field class="w-100 mr-3" appearance="outline">
                        <mat-label>Sprite</mat-label>
                        <input type="number" min="0" max="{{ trainerSpriteCount - 1 }}" matInput placeholder="0" [(ngModel)]="currentTrainer.spriteId" (ngModelChange)="trainerChanged()">
                        <mat-hint>0-{{ trainerSpriteCount - 1 }}</mat-hint>
                    </mat-form-field> 
                    <img *ngIf="sprite" [src]="sprite" width="64px" height="64px" class="mr-3" />
                </div>
            </div>
        </div>

        <fieldset class="w-100 border px-3 pt-3 pb-2 mb-4" appearance="outline" *ngIf="currentTrainer.party && currentTrainer.party.length == 6">
            <p><b>Trainer Options</b></p>
            <div class="row mb-3">
                <div class="col-6 col-md-3">
                    <div class="w-100">
                        <mat-checkbox [(ngModel)]="currentTrainer.isDoubleBattle" (ngModelChange)="trainerChanged()">Double Battle</mat-checkbox>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="w-100">
                        <mat-checkbox [(ngModel)]="currentTrainer.hasHeldItems" (ngModelChange)="trainerChanged()">Held Items</mat-checkbox>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="w-100">
                        <mat-checkbox [(ngModel)]="currentTrainer.hasCustomMoves" (ngModelChange)="trainerChanged()">Custom Moves</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Gender</mat-label>
                        <mat-select [(ngModel)]="currentTrainer.genderId" (ngModelChange)="trainerChanged()">
                            <mat-option [value]="0">Male</mat-option>
                            <mat-option [value]="1">Female</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6 col-md-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Class</mat-label>
                        <mat-select [(ngModel)]="currentTrainer.trainerClass" (ngModelChange)="trainerChanged()">
                            <mat-option 
                                *ngFor="let className of trainerService.classNames; let i = index" 
                                [value]="i">
                                {{ className }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> 
                </div>
                <div class="col-6 col-md-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Music</mat-label>
                        <input type="number" min="0" matInput placeholder="0" [(ngModel)]="currentTrainer.musicId" (ngModelChange)="trainerChanged()">
                    </mat-form-field>
                </div>
                <div class="col-6 col-md-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>AI</mat-label>
                        <input type="number" min="0" matInput placeholder="0" [(ngModel)]="currentTrainer.ai" (ngModelChange)="trainerChanged()">
                    </mat-form-field>
                </div>
            </div>
        </fieldset>

        <fieldset class="w-100 border px-3 pt-3 pb-2 mb-4" appearance="outline">
            <p><b>Trainer Items</b></p>
            <div class="row">
                <div class="col-6 col-md-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Item 1</mat-label>
                        <mat-select [(ngModel)]="currentTrainer.items[0]" (ngModelChange)="trainerChanged()">
                            <mat-option 
                                *ngFor="let item of itemService.items; let i = index" 
                                [value]="item.uid">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> 
                </div>
                <div class="col-6 col-md-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Item 2</mat-label>
                        <mat-select [(ngModel)]="currentTrainer.items[1]" (ngModelChange)="trainerChanged()">
                            <mat-option 
                                *ngFor="let item of itemService.items; let i = index" 
                                [value]="item.uid">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> 
                </div>
                <div class="col-6 col-md-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Item 3</mat-label>
                        <mat-select [(ngModel)]="currentTrainer.items[2]" (ngModelChange)="trainerChanged()">
                            <mat-option 
                                *ngFor="let item of itemService.items; let i = index" 
                                [value]="item.uid">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6 col-md-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Item 4</mat-label>
                        <mat-select [(ngModel)]="currentTrainer.items[3]" (ngModelChange)="trainerChanged()">
                            <mat-option 
                                *ngFor="let item of itemService.items; let i = index" 
                                [value]="item.uid">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> 
                </div>
            </div>
        </fieldset>

        <fieldset class="w-100 border px-3 pt-3 pb-2 mb-4" appearance="outline" *ngIf="currentTrainer.party && currentTrainer.party.length == 6">
            <p><b>Trainer Party</b></p>
            <div class="w-100 d-inline-flex" *ngIf="currentPartySprites && currentPartySprites.length > 0">
                <div *ngFor="let battleSprite of currentPartySprites; let i = index;">
                    <img *ngIf="battleSprite" [src]="battleSprite" width="64px" height="64px" />
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6">
                    <div class="w-100 border poke-border-sm mb-4">
                        <div class="w-100 p-2 border-bottom">
                            <div class="row">
                                <div class="col-6">
                                    <p class="mb-0"><b>Species</b></p>
                                </div>
                                <div class="col-6">
                                    <p class="mb-0"><b>Level</b></p>
                                </div>
                            </div>
                        </div>
                        <div 
                            *ngFor="let monster of currentTrainer.party; let i = index"
                            class="w-100 py-2 cursor-pointer"
                            [ngClass]="{'border-bottom': i !== currentTrainer.party.length - 1, 'poke-tool-sidenav-item-active': selectedPartyMonster == monster}"
                            (click)="setCurrentPartyMonster(i)"
                            matRipple>
                            <div class="row">
                                <div class="col-6">
                                    <div class="px-2">
                                        <p class="mb-0">{{ monsterService.monsters[monster.species].name }}</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="px-2">
                                        <p class="mb-0">{{ monster.level }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div *ngIf="selectedPartyMonster">
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Species</mat-label>
                                    <mat-select [(ngModel)]="selectedPartyMonster.species" (ngModelChange)="currentPartyMonsterChanged()">
                                        <mat-option 
                                            *ngFor="let monster of monsterService.monsters; let i = index" 
                                            [value]="i">
                                            {{ monster.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Level</mat-label>
                                    <input type="number" min="0" max="100" matInput placeholder="0" [(ngModel)]="selectedPartyMonster.level" (ngModelChange)="currentPartyMonsterChanged()">
                                    <mat-hint>0-100</mat-hint>
                                </mat-form-field> 
                            </div>
                            <div class="col-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Held Item</mat-label>
                                    <mat-select [(ngModel)]="selectedPartyMonster.heldItem" (ngModelChange)="currentPartyMonsterChanged()" [disabled]="!currentTrainer.hasHeldItems">
                                        <mat-option 
                                            *ngFor="let item of itemService.items; let i = index" 
                                            [value]="i">
                                            {{ item.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-hint *ngIf="!currentTrainer.hasHeldItems">Disabled</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6" *ngFor="let move of selectedPartyMonster.customMoves; let i = index">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Custom Move #{{ i + 1 }}</mat-label>
                                    <mat-select [(ngModel)]="selectedPartyMonster.customMoves[i]" (ngModelChange)="currentPartyMonsterChanged()" [disabled]="!currentTrainer.hasCustomMoves">
                                        <mat-option 
                                            *ngFor="let moveName of monsterService.moveNames; let j = index" 
                                            [value]="j">
                                            {{ moveName }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-hint *ngIf="!currentTrainer.hasCustomMoves">Disabled</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
