<div class="position-relative p-3" *ngIf="currentMap && currentEntityType == 'NPC' && currentNPC">
    <p class="mb-3 text-gray">You may edit existing entities. Adding new entities will be available soon.</p>
    <div class="poke-border-sm bg-gray p-2 mb-3 w-100 d-inline-flex align-items-center justify-content-between">
        <p class="mb-0"><b>NPC Entity</b></p>
        <div class="d-inline-flex align-items-center">
            <span class="mr-2">{{ currentNPC.uid }}</span>
            <mat-icon 
                class="cursor-pointer" 
                [ngClass]="currentNPC.uid == 0 ? 'text-gray' : ''"
                (click)="setEntityBackward()">arrow_back</mat-icon>
            <mat-icon 
                class="cursor-pointer" 
                [ngClass]="currentNPC.uid == currentMap.entityData.npcs.length - 1 ? 'text-gray' : ''"
                (click)="setEntityForward()">arrow_forward</mat-icon>
        </div>
    </div>
    <mat-form-field class="w-100 mb-2" appearance="fill">
        <mat-label>Local NPC Index</mat-label>
        <input type="number" min="0" max="255" matInput placeholder="0" [(ngModel)]="currentNPC.npcIndex" (ngModelChange)="npcChanged()">
        <mat-hint>0-255</mat-hint>
    </mat-form-field> 

    <mat-form-field class="w-100 mb-2" appearance="fill">
        <mat-label>Sprite Index</mat-label>
        <input type="number" min="0" max="255" matInput placeholder="0" [(ngModel)]="currentNPC.spriteId" (ngModelChange)="npcSpriteChanged(); npcChanged()">
        <mat-hint>0-255</mat-hint>
    </mat-form-field> 

    <div class="row">
        <div class="col-6">
            <mat-form-field class="w-100 mb-2" appearance="fill">
                <mat-label>Map X</mat-label>
                <input type="number" min="0" max="{{ currentMap.layout.mapWidth }}" matInput placeholder="0" [(ngModel)]="currentNPC.xPosition" (ngModelChange)="npcChanged()">
                <mat-hint>0-{{ currentMap.layout.mapWidth }}</mat-hint>
            </mat-form-field> 
        </div>
        <div class="col-6">
            <mat-form-field class="w-100 mb-2" appearance="fill">
                <mat-label>Map Y</mat-label>
                <input type="number" min="0" max="{{ currentMap.layout.mapHeight }}" matInput placeholder="0" [(ngModel)]="currentNPC.yPosition" (ngModelChange)="npcChanged()">
                <mat-hint>0-{{ currentMap.layout.mapHeight }}</mat-hint>
            </mat-form-field> 
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <mat-form-field class="w-100 mb-2" appearance="fill">
                <mat-label>Movement Type</mat-label>
                <mat-select [(ngModel)]="currentNPC.movementType" (ngModelChange)="npcChanged()">
                    <mat-option *ngFor="let movementType of movementTypes; let i = index" [value]="i">{{ i }} - {{ movementType | titlecase }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="w-100 mb-2" appearance="fill">
                <mat-label>Movement Param</mat-label>
                <input type="number" min="0" max="255" matInput placeholder="0" [(ngModel)]="currentNPC.movementParam" (ngModelChange)="npcChanged()">
                <mat-hint>0-255</mat-hint>
            </mat-form-field> 
        </div>
    </div>

    <div *ngFor="let trainer of currentNPC.trainers; let i = index" class="mb-3 p-2 bg-gray">
        <div class="w-100 d-inline-flex align-items-center justify-content-between mb-2">
            <div class="d-flex flex-column">
                <p class="mb-0"><b>{{ trainer.name }}</b></p>
                <div class="d-inline-flex">
                    <div *ngFor="let monster of trainer.party">
                        <img *ngIf="monster.species > 0" [src]="monsterService.monsterIcons[monster.species].currentFrame.toDataURL()" width="32px" height="32px" />
                    </div>
                </div>
            </div>
            
            <img *ngIf="currentNPC.trainerSprites[i]" [src]="currentNPC.trainerSprites[i]" width="64px" height="64px" />
        </div>
        <button mat-raised-button type="button" color="primary" class="w-100" (click)="goToTrainer(trainer.uid)">
            <span>Go to Tainer #{{ trainer.uid + 1 }}</span>
        </button>
    </div>

    <div class="w-100 mb-2 mb-3 d-inline-flex align-items-center">
        <mat-checkbox [(ngModel)]="currentNPC.isTrainer" (ngModelChange)="npcChanged()">Use Map View Radius</mat-checkbox>
    </div>

    <mat-form-field class="w-100 mb-2" appearance="fill">
        <mat-label>View Radius / Berry Index</mat-label>
        <input type="number" min="0" max="255" matInput placeholder="0" [(ngModel)]="currentNPC.viewRadius" (ngModelChange)="npcChanged()">
        <mat-hint>Berry index if not marked as map</mat-hint>
    </mat-form-field>

    <mat-form-field class="w-100 mb-2" appearance="fill">
        <mat-label>Script Address</mat-label>
        <input type="text" [value]="currentNPC.scriptAddress.toString(16).toUpperCase()" min="0" max="255" matInput placeholder="0" (change)="currentNPC.scriptAddress = getInputHexValue($event); npcChanged()">
        <mat-hint>Hexidecimal big endian</mat-hint>
    </mat-form-field> 

    <mat-form-field class="w-100 mb-2" appearance="fill">
        <mat-label>Global NPC Index</mat-label>
        <input type="number" min="0" max="255" matInput placeholder="0" [(ngModel)]="currentNPC.personId" (ngModelChange)="npcChanged()">
        <mat-hint>Used in scripts</mat-hint>
    </mat-form-field> 

    <p class="mb-1"><b>Data</b></p>
    <div class="bg-gray p-2 mb-3" *ngIf="currentNPC && currentNPC.data">
        <span *ngFor="let byteValue of currentNPC.data" class="mr-2 mb-1 hex-value"><b>{{ (byteValue.toString(16).length == 1 ? '0' : '') + byteValue.toString(16).toUpperCase() + '  '}}</b></span>
    </div>

    <p class="mb-1"><b>Script</b></p>
    <div *ngIf="currentNPC.script"
        class="bg-gray p-2 mb-0 overflow-hidden hex-value" >
        <div class="w-100 text-nowrap" [innerText]="currentNPC.script" [style.height]="'194px'" [style.maxHeight]="'194px'">
            <div class="position-absolute w-100 script-fadeout" [style.bottom]="'0px'" [style.left]="'0px'" [style.height]="'25px'"></div>
        </div>
    </div>
    <div *ngIf="!currentNPC.script"
        class="bg-gray p-2 mb-0">
        <div class="w-100 overflow-hidden" [style.height]="'194px'" [style.maxHeight]="'194px'">
            <p class="mb-1">No Script Found</p>
            <p class="mb-0">If you believe this NPC is already associated with a script, you can check:</p>
            <ul>
                <li>Script entities (pink 'S' on the map)</li>
                <li>Map scripts in the Metadata tab</li>
            </ul>
        </div>
    </div>
    <p class="text-gray mb-1" *ngIf="currentNPC.script">Showing {{ currentNPC.script.trim().split('\n').length >= 10 ? '10' : currentNPC.script.trim().split('\n').length }} out of {{ currentNPC.script.trim().split('\n').length }} lines.</p>
    <button *ngIf="currentNPC.script" mat-raised-button type="button" color="primary" class="w-100" (click)="editScript()">
        <span>Edit Script</span>
    </button>
</div>
<div class="position-relative p-3" *ngIf="currentMap && currentEntityType == 'SIGN' && currentSign">
    <p class="mb-3 text-gray">You may edit existing entities. Adding new entities will be available soon.</p>
    <div class="poke-border-sm bg-gray p-2 mb-3 w-100 d-inline-flex align-items-center justify-content-between">
        <p class="mb-0"><b>Sign Entity</b></p>
        <div class="d-inline-flex align-items-center">
            <span class="mr-2">{{ currentSign.uid }}</span>
            <mat-icon 
                class="cursor-pointer" 
                [ngClass]="currentSign.uid == 0 ? 'text-gray' : ''"
                (click)="setEntityBackward()">arrow_back</mat-icon>
            <mat-icon 
                class="cursor-pointer" 
                [ngClass]="currentSign.uid == currentMap.entityData.signs.length - 1 ? 'text-gray' : ''"
                (click)="setEntityForward()">arrow_forward</mat-icon>
        </div>
    </div>

    <div class="d-flex-inline justify-content-between">
        <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>Map X</mat-label>
            <input type="number" min="0" max="{{ currentMap.layout.mapWidth }}" matInput placeholder="0" [(ngModel)]="currentSign.xPosition" (ngModelChange)="signChanged()">
            <mat-hint>0-{{ currentMap.layout.mapWidth }}</mat-hint>
        </mat-form-field> 
        <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>Map Y</mat-label>
            <input type="number" min="0" max="{{ currentMap.layout.mapHeight }}" matInput placeholder="0" [(ngModel)]="currentSign.yPosition" (ngModelChange)="signChanged()">
            <mat-hint>0-{{ currentMap.layout.mapHeight }}</mat-hint>
        </mat-form-field> 
    </div>

    <mat-form-field class="w-100" appearance="fill">
        <mat-label>Movement Layer</mat-label>
        <mat-select [(ngModel)]="currentSign.movementLayer" (ngModelChange)="signChanged()">
            <mat-option [value]="0">0 - All Layers</mat-option>
            <mat-option [value]="1">0 - Surf Only</mat-option>
            <mat-option [value]="2">2 - Layer 1</mat-option>
            <mat-option [value]="3">3 - Layer 2 (default)</mat-option>
            <mat-option [value]="4">4 - Layer 3</mat-option>
            <mat-option [value]="5">5 - Layer 4</mat-option>
            <mat-option [value]="6">6 - Layer 5</mat-option>
            <mat-option [value]="7">7 - Layer 6</mat-option>
            <mat-option [value]="8">8 - Layer 7</mat-option>
            <mat-option [value]="9">9 - Layer 8</mat-option>
            <mat-option [value]="10">10 - Layer 9</mat-option>
            <mat-option [value]="11">11 - Layer 10</mat-option>
            <mat-option [value]="12">12 - Layer 11</mat-option>
            <mat-option [value]="13">13 - Layer 12</mat-option>
            <mat-option [value]="14">14 - Layer 13</mat-option>
            <mat-option [value]="15">15 - Layer 14</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="fill">
        <mat-label>Sign Type</mat-label>
        <mat-select [(ngModel)]="currentSign.signType" (ngModelChange)="signChanged()">
            <mat-option [value]="0">0 - Script</mat-option>
            <mat-option [value]="1">1 - Script (when player facing north)</mat-option>
            <mat-option [value]="2">2 - Script (when player facing south)</mat-option>
            <mat-option [value]="3">3 - Script (when player facing east)</mat-option>
            <mat-option [value]="4">4 - Script (when player facing west)</mat-option>
            <mat-option [value]="5">5 - Hidden Item</mat-option>
            <mat-option [value]="6">6 - Hidden Item</mat-option>
            <mat-option [value]="7">7 - Hidden Item</mat-option>
            <mat-option [value]="8" *ngIf="gbaService.header.gameCode == 'BPEE'">8 - Secret Base</mat-option>
        </mat-select>
    </mat-form-field> 

    <mat-form-field class="w-100 mb-2" appearance="fill" *ngIf="!(currentSign.signType == 5 || currentSign.signType == 6 || currentSign.signType == 7)">
        <mat-label>Script Address</mat-label>
        <input type="text" [value]="currentSign.scriptAddress.toString(16).toUpperCase()" min="0" max="255" matInput placeholder="0" (change)="currentSign.scriptAddress = getInputHexValue($event); scriptChanged()">
        <mat-hint>Hexidecimal big endian</mat-hint>
    </mat-form-field>

    <div class="w-100" *ngIf="currentSign.signType == 5 || currentSign.signType == 6 || currentSign.signType == 7">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Hidden Item</mat-label>
            <mat-select [(ngModel)]="currentSign.hiddenItemId" (ngModelChange)="signChanged()">
                <mat-option [value]="0">??????????</mat-option>
                <mat-option 
                    *ngFor="let item of itemService.items; let i = index" 
                    [value]="item.uid">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>Hidden Item Count</mat-label>
            <input type="number" min="0" max="255" matInput placeholder="0" [(ngModel)]="currentSign.hiddenItemAmount" (ngModelChange)="signChanged()">
            <mat-hint>0-255</mat-hint>
        </mat-form-field> 

        <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>Global Hidden Item Index</mat-label>
            <input type="number" min="0" matInput placeholder="0" [(ngModel)]="currentSign.globalHiddenIndex" (ngModelChange)="signChanged()">
            <mat-hint>Used for tracking flags</mat-hint>
        </mat-form-field> 
    </div>

    <div class="bg-gray p-2 mb-5" *ngIf="currentSign && currentSign.data">
        <span *ngFor="let byteValue of currentSign.data" class="mr-2 mb-1 hex-value"><b>{{ (byteValue.toString(16).length == 1 ? '0' : '') + byteValue.toString(16).toUpperCase() + '  '}}</b></span>
    </div>
    <div *ngIf="!(currentSign.signType == 5 || currentSign.signType == 6 || currentSign.signType == 7)">
        <p class="mb-1"><b>Script</b></p>
        <div *ngIf="currentSign.script"
            class="bg-gray p-2 mb-0 overflow-hidden hex-value" >
            <div class="w-100 text-nowrap" [innerText]="currentSign.script" [style.height]="'194px'" [style.maxHeight]="'194px'">
                <div class="position-absolute w-100 script-fadeout" [style.bottom]="'0px'" [style.left]="'0px'" [style.height]="'25px'"></div>
            </div>
        </div>
        <div *ngIf="!currentSign.script"
            class="bg-gray p-2 mb-0">
            <div class="w-100 overflow-hidden" [style.height]="'194px'" [style.maxHeight]="'194px'">
                <p class="mb-1">No Script Found</p>
            </div>
        </div>
        <p class="text-gray mb-1" *ngIf="currentSign.script">Showing {{ currentSign.script.trim().split('\n').length >= 10 ? '10' : currentSign.script.trim().split('\n').length }} out of {{ currentSign.script.trim().split('\n').length }} lines.</p>
        <button *ngIf="currentSign.script" mat-raised-button type="button" color="primary" class="w-100" (click)="editScript()">
            <span>Edit Script</span>
        </button>
    </div>
</div>
<div class="position-relative p-3" *ngIf="currentMap && currentEntityType == 'WARP' && currentWarp">
    <p class="mb-3 text-gray">You may edit existing entities. Adding new entities will be available soon.</p>
    <div class="poke-border-sm bg-gray p-2 mb-3 w-100 d-inline-flex align-items-center justify-content-between">
        <p class="mb-0"><b>Warp Entity</b></p>
        <div class="d-inline-flex align-items-center">
            <span class="mr-2">{{ currentWarp.uid }}</span>
            <mat-icon 
                class="cursor-pointer" 
                [ngClass]="currentWarp.uid == 0 ? 'text-gray' : ''"
                (click)="setEntityBackward()">arrow_back</mat-icon>
            <mat-icon 
                class="cursor-pointer" 
                [ngClass]="currentWarp.uid == currentMap.entityData.warps.length - 1 ? 'text-gray' : ''"
                (click)="setEntityForward()">arrow_forward</mat-icon>
        </div>
    </div>

    <div class="d-flex-inline justify-content-between">
        <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>Map X</mat-label>
            <input type="number" min="0" max="{{ currentMap.layout.mapWidth }}" matInput placeholder="0" [(ngModel)]="currentWarp.xPosition" (ngModelChange)="warpChanged()">
            <mat-hint>0-{{ currentMap.layout.mapWidth }}</mat-hint>
        </mat-form-field> 
        <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>Map Y</mat-label>
            <input type="number" min="0" max="{{ currentMap.layout.mapHeight }}" matInput placeholder="0" [(ngModel)]="currentWarp.yPosition" (ngModelChange)="warpChanged()">
            <mat-hint>0-{{ currentMap.layout.mapHeight }}</mat-hint>
        </mat-form-field>
    </div>

    <mat-form-field class="w-100 mb-2" appearance="fill">
        <mat-label>Destination Warp</mat-label>
        <input type="number" min="0" max="255" matInput placeholder="0" [(ngModel)]="currentWarp.destinationWarp" (ngModelChange)="warpChanged()">
        <mat-hint>0-255</mat-hint>
    </mat-form-field>

    <mat-form-field class="w-100 mb-2" appearance="fill">
        <mat-label>Destination Bank</mat-label>
        <input type="number" min="0" max="255" matInput placeholder="0" [(ngModel)]="currentWarp.destinationBank" (ngModelChange)="warpChanged()">
        <mat-hint>0-255</mat-hint>
    </mat-form-field> 

    <mat-form-field class="w-100 mb-2" appearance="fill">
        <mat-label>Destination Map</mat-label>
        <input type="number" min="0" max="255" matInput placeholder="0" [(ngModel)]="currentWarp.destinationMap" (ngModelChange)="warpChanged()">
        <mat-hint>0-255</mat-hint>
    </mat-form-field> 

    <!-- <button mat-raised-button type="button" color="primary" class="w-100 mb-3" (click)="setCurrent(worldService.getMap(currentWarp.destinationBank, currentWarp.destinationMap), currentWarp.destinationBank, currentWarp.destinationMap)">
        <span>Go to Destination Map</span>
    </button> -->

    <div class="bg-gray p-2" *ngIf="currentWarp && currentWarp.data">
        <span *ngFor="let byteValue of currentWarp.data" class="mr-2 mb-1 hex-value"><b>{{ (byteValue.toString(16).length == 1 ? '0' : '') + byteValue.toString(16).toUpperCase() + '  '}}</b></span>
    </div>
</div>
<div class="position-relative p-3" *ngIf="currentMap && currentEntityType == 'SCRIPT' && currentScript">
    <p class="mb-3 text-gray">You may edit existing entities. Adding new entities will be available soon.</p>
    <div class="poke-border-sm bg-gray p-2 mb-3 w-100 d-inline-flex align-items-center justify-content-between">
        <p class="mb-0"><b>Script Entity</b></p>
        <div class="d-inline-flex align-items-center">
            <span class="mr-2">{{ currentScript.uid }}</span>
            <mat-icon 
                class="cursor-pointer" 
                [ngClass]="currentScript.uid == 0 ? 'text-gray' : ''"
                (click)="setEntityBackward()">arrow_back</mat-icon>
            <mat-icon 
                class="cursor-pointer" 
                [ngClass]="currentScript.uid == currentMap.entityData.scripts.length - 1 ? 'text-gray' : ''"
                (click)="setEntityForward()">arrow_forward</mat-icon>
        </div>
    </div>

    <div class="d-flex-inline justify-content-between">
        <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>Map X</mat-label>
            <input type="number" min="0" max="{{ currentMap.layout.mapWidth }}" matInput placeholder="0" [(ngModel)]="currentScript.xPosition" (ngModelChange)="scriptChanged()">
            <mat-hint>0-{{ currentMap.layout.mapWidth }}</mat-hint>
        </mat-form-field> 
        <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>Map Y</mat-label>
            <input type="number" min="0" max="{{ currentMap.layout.mapHeight }}" matInput placeholder="0" [(ngModel)]="currentScript.yPosition" (ngModelChange)="scriptChanged()" >
            <mat-hint>0-{{ currentMap.layout.mapHeight }}</mat-hint>
        </mat-form-field>
    </div>

    <mat-form-field class="w-100 mb-2" appearance="fill">
        <mat-label>Variable Number</mat-label>
        <input type="number" min="0" matInput placeholder="0" [(ngModel)]="currentScript.varNumber" (ngModelChange)="scriptChanged()">
    </mat-form-field>

    <mat-form-field class="w-100 mb-2" appearance="fill">
        <mat-label>Variable Value</mat-label>
        <input type="number" min="0" matInput placeholder="0" [(ngModel)]="currentScript.varValue" (ngModelChange)="scriptChanged()">
    </mat-form-field>

    <mat-form-field class="w-100 mb-2" appearance="fill">
        <mat-label>Script Address</mat-label>
        <input type="text" [value]="currentScript.scriptAddress.toString(16).toUpperCase()" matInput placeholder="0" (change)="currentScript.scriptAddress = getInputHexValue($event); scriptChanged();">
        <mat-hint>Hexidecimal big endian</mat-hint>
    </mat-form-field>

    <p class="mb-1"><b>Data</b></p>
    <div class="bg-gray p-2 mb-2" *ngIf="currentScript && currentScript.data">
        <span *ngFor="let byteValue of currentScript.data" class="mr-2 mb-1 hex-value"><b>{{ (byteValue.toString(16).length == 1 ? '0' : '') + byteValue.toString(16).toUpperCase() + '  '}}</b></span>
    </div>

    <p class="mb-1"><b>Script</b></p>
    <div *ngIf="currentScript.script"
        class="bg-gray p-2 mb-0 overflow-hidden hex-value" >
        <div class="w-100 text-nowrap" [innerText]="currentScript.script" [style.height]="'194px'" [style.maxHeight]="'194px'">
            <div class="position-absolute w-100 script-fadeout" [style.bottom]="'0px'" [style.left]="'0px'" [style.height]="'25px'"></div>
        </div>
    </div>
    <div *ngIf="!currentScript.script"
        class="bg-gray p-2 mb-0">
        <div class="w-100 overflow-hidden" [style.height]="'194px'" [style.maxHeight]="'194px'">
            <p class="mb-1">No Script Found</p>
        </div>
    </div>
    <p class="text-gray mb-1" *ngIf="currentScript.script">Showing {{ currentScript.script.trim().split('\n').length >= 10 ? '10' : currentScript.script.trim().split('\n').length }} out of {{ currentScript.script.trim().split('\n').length }} lines.</p>
    <button *ngIf="currentScript.script" mat-raised-button type="button" color="primary" class="w-100" (click)="editScript()" disabled>
        <span>Edit Script</span>
    </button>
</div>